<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/edit.css">
    <title>Edit</title>
</head>
<body>
    <h1 data-text="EDIT YOUR POST">EDIT YOUR POST</h1>
    <p id="ids">post Id: <%= post.id   %></p>
    <p id="names">Username : @<%= post.username   %></p>

    <form method="post" action="/posts/<%= post.id %>?_method=PATCH">

        <textarea rows="10" cols="35" name="content"><%= post.content %></textarea>

        <button>Submit</button>
    </form>
</body>
</html>