<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/new.css">
    <title>Create new post</title>
</head>
<body>
    <h1 data-text="CREATE A NEW POST">CREATE A NEW POST</h1>
    <div class="divo">
    <form method="post" action="/posts">
        <input type="text" placeholder="Username" name="username"> <br><br><br>
        <textarea name="content" placeholder="Write your new note"></textarea>
        <button>Submit</button>
    </form></div>
</body>
</html>