<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show in detail</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/views/">
</head>
<body>
    <div class="showHead"> 
        <h1 data-text="Here's your post in detail">Here's your post in detail</h1>
    </div>
    <div class="post">
        <h3 class="user">
            @ <%= post.username %>
        </h3>
        <h4 class="content">
            <%= post.content %>
        </h4>

    </div>
</body>
</html>